.cardContainer {
    margin: 20px;
    margin-right: 0px;
    width: 290px;
    border-radius: 15px;
    height: 89vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: fixed;
    background-color: lightgreen;
    width: 270px;
    height: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.holder {
    padding-top: 45px;
}

.cardHolderIcon {
    width: 25px;
    height: 25px;
    padding-right: 20px;
}

.cardHolderTitle {
    /* background-color: blue; */
    flex-grow: 3;
    font-size: 17px;
    text-align: center;
    color: black;
    font-weight: 700;
}

.TitleOptions {
    background-color: red;
}

.addCardWrapper {
    display: flex;
    height: 40px;
    margin: 20px;
    align-items: center;
    background-color: lightcyan;
    border-radius: 15px;
    text-align: center;
}

.addCard {
    font-size: 14px;
    font-weight: 600;
}

.addCardIcon {
    height: 12px;
    width: 12px;
    padding-right: 15px;
    padding-left: 15px;

}