.cardContainer {
    margin: 20px;
    margin-right: 0px;
    background-color: whitesmoke;
    width: 290px;
    
    border-radius: 15px;
    height: 90vh;
    margin-top: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    /* position: fixed; */
    background-color: red;
    width: 100%;
    /* backgrounds-color: red; */
}

.holder {
    min-height: 200px;
}

.icon {
    width: 55px;
    height: 25px;
}

.cardHolderTitle {
    /* background-color: blue; */
    flex-grow: 3;
    font-size: 17px;
    text-align: center;
    color: black;
    font-weight: 700;
}

.TitleOptions {
    background-color: red;
}