.wrapper {
  display: flex;
  flex-direction: column;
  font: 
}

.column {
  margin-left: 240px;
  display: flex;
  flex-direction: row;
  /* flex-grow: 2; */
}
.content {
  display: flex;
  padding-top: 60px;
  width: 100vw;
}

.inputText {
  height: 100px;
  width: 55vw;
  font-size: 17px;
  padding: 10px;
  background-color: #7c9d96;
  margin-bottom: 10px;
  margin-left: 5px;
  border-radius: 5px;
  font-family: "Ubuntu";
}


.homeContent {
  /* display: flex; */
  flex-direction: row;
  margin-top: 20px; 
}

.homeSubContent {
  display: flex;
}

.homeBoardTitle {
  margin-left: 285px;
  font-size: 22px;
  font-family: "Ubuntu", sans-serif;
  background-color: #7c9d96;
  width: 78vw;
  height: 40px;
  text-align: center;
  border-radius: 15px;
  padding-top: 15px;
}

.addListHomeWrapper {
  margin-left: 270px;
}

.addListHome {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  margin-left: 20px;
}

.newListWrapperHome {
  text-align: center;
  background-color: #3a958f;
  font-family: "Ubuntu", sans-serif;
  height: 100px;
  border-radius: 15px;
  padding: 10px;
  width: 240px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
}