.wrapper {
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}
.content {
    display: flex;
    padding-top: 60px;
    width: 100vw;
}

.inputText {
    height: 100px;
    width: 55vw;
    font-size: 17px;
    padding: 10px;
    background-color: #7C9D96;
    margin-bottom: 10px;
    margin-left: 5px;
    border-radius: 5px;
    font-family: 'Gill Sans';
}

.dueDateWrapper {
    padding-left: 10px;
    padding-bottom: 103ox;
    /* background-color: red; */
}

.modalHeaderWrapper {
    display: flex;
    padding-bottom: 20px;
}

.modalHeaderFiller {
    flex-grow: 2;
}

.modalPriorityWrapper {
    width: 200px;
}

.modalHeading {
    padding-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.modalSubHeading {
    font-weight: 400;
}

.checklistWrapper {
    display: flex;
    align-items: center;
    padding-right: 90px;
}

.newCheckListWrapper {
    border-width: 100px;
    border:1px solid black;
    background-color: #7C9D96;
    border-radius: 5px;
    padding: 5px;
}

.itemHeadingWrapper {
    display: flex;
}

.itemHeadings {
    padding-right: 10px;
    font-weight: 500;
}
.checkListItemWrapper {
    align-items: center;
    padding-right: 10px;
}

.checklistDescription {
    text-align: center;
    padding-left: 30px;
}

.checklistHours {
    text-align: center;
    padding-left: 20px;
}

.listInputHours {
    text-align: center;
    width: 30px;
    margin-left: 10px;
    margin-right: 15px;
    border-color: black;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
}

.listInputDescription {
    margin-left: 10px;
    margin-right: 15px;
    width: 40vw;
    margin-top: 5px;
    border-color: black;
    height: 25px;
    border-radius: 5px;
}

.addItemButton {
    margin-top: 15px;
    margin-left: 10px;
}

.modalCommentWrapper {
    display: flex;
    padding-left: 20px;
}

.commentContentWrapper {
    padding-left: 20px;
}

.commentNameIcon {
    border-radius: 50%;
    background-color: #F4F2DE;
    width: 20px;
    height: 20px;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.commentContent {
    background-color: #7C9D96;
    width: 50vw;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}